@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "icomoon";
$bg-color: #F5F4F2;
$mask-color: #333333;
$link-color: gray;
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 62.5%;
    background-color: $bg-color;
}

.hero {
    text-align: center;
    color: white;
    letter-spacing: .1em;
    width: 100%;
    min-height: 36em;
    position: relative;
    background-color: $mask-color;
    z-index: 1;
    &:after {
        background: url('/assets/img/hero.jpeg');
        background-size: cover;
        background-position: left 25%;
        position: absolute;
        content: "";
        z-index: -1;
        opacity: .2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    header {
        padding-top: 1em;
        animation-name: fadeIn;
        animation-duration: 0.6s;
        .brand {
            padding-top: 1.5em;
            font-size: 1.8em;
        }
        ul {
            padding-top: 1.5em;
            font-size: 1.8em;
            li {
                display: inline-block;
                margin: 0 0.5em 0 0.5em;
            }
        }
        a {
            text-decoration: none;
            color: white;
            border-bottom: 2px solid transparent;
            display: block;
            text-shadow: 2px 2px 4px;
        }
        a:hover {
            color: gray;
            background-color: transparent;
            border-bottom-color: gray;
        }
        @media (min-width: 768px) {
            padding-left: 20%;
            padding-right: 20%;
            .brand {
                float: left;
            }
            ul {
                float: right;
            }
        }
        @include clearfix;
    }
    h1 {
        padding: 1.5em 0 1.5em 0;
        font-size: 500%;
        color: white;
        text-shadow: 1px 1px 2px;
        &:after {
            display: block;
            content: "";
            background-color: white;
            width: 30%;
            height: .1em;
            margin: .4em auto 0 auto;
        }
        animation-name: fadeIn;
        animation-duration: 3s;
        @media screen and (max-width: 699px) {
            padding: 0.5em 0 0.5em 0;
        }
    }
    h2 {
        width: 100%;
        position: absolute;
        font-size: 300%;
        animation-name: slideIn;
        animation-duration: 2s;
    }
}

.home {
    margin-top: 2em;
    padding: 0 20% 0 20%;
    p {
        padding-top: 2em;
        font-size: 200%;
        line-height: 150%;
        animation-name: fadeIn;
        animation-duration: 3.5s;
    }
    a {
        text-decoration: none;
        color: $link-color;
    }
}

.contact {
    margin-top: 2em;
    padding: 0 20% 0 20%;
    font-size: 200%;
    animation-name: fadeIn;
    animation-duration: 3.5s;
    a {
            text-decoration: none;
            color: $link-color;
        }
    p {
        padding-top: 2em;
    }
    ul {
        list-style-type: disc;
        padding: 1em 1em;
        li {
            margin: 0.5em;
            padding: 0.5em;
            transform: translateX(10em);
            animation-name: rightSlideIn;
            animation-duration: 0.6s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }
        li:nth-child(2) {
            animation-delay: 0.1s;
        }
        li:nth-child(3) {
            animation-delay: 0.2s;
        }
        li:nth-child(4) {
            animation-delay: 0.3s;
        }
        li:nth-child(5) {
            animation-delay: 0.4s;
        }
        li:nth-child(6) {
            animation-delay: 0.5s;
        }
    }
}

.pro {
    margin-top: 2em;
    padding: 0 20% 0 20%;
    font-size: 200%;
    animation-name: fadeIn;
    animation-duration: 3.5s;
    h3 {
        padding-top: 2em;
    }
    h4 {
        margin-top: 1em;
    }
    ul {
        padding: 0.5em;
        li {
            margin: 0.5em;
            padding: 0.5em;
        }
        a {
            text-decoration: none;
            color: $link-color;
        }
    }
    a.back {
        text-decoration: none;
        color: $link-color;
        font-size: 80%;
    }
    div {
        transform: translateX(10em);
        animation-name: rightSlideIn;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
    div:nth-child(2) {
        animation-delay: 0.1s;
    }
    div:nth-child(3) {
        animation-delay: 0.2s;
    }
    div:nth-child(4) {
        animation-delay: 0.3s;
    }
    div:nth-child(5) {
        animation-delay: 0.4s;
    }
    div:nth-child(6) {
        animation-delay: 0.5s;
    }
}

.proj {
    margin-top: 2em;
    padding: 0 20% 0 20%;
    font-size: 200%;
    h3 {
        font-size: 150%;
    }
    h4 {
        font-size: 120%;
    }
    p {
        padding-top: 1em;
    }
    .date {
        font-size: 80%;
    }
    a {
        text-decoration: none;
        color: $link-color;
        font-size: 80%;
    }
    .brief {
        margin-bottom: 2em;
    }
}

.tech {
    &:before {
        display: block;
        content: "";
        background-color: white;
        width: 100%;
        height: .1em;
        margin: 0 auto 2em auto;
    }
    ul {
        list-style-type: disc;
        padding: 0.5em 0.5em;
        li {
            margin: 0.3em;
            padding: 0.3em;
        }
        a {
            text-decoration: none;
            color: $link-color;
        }
    }
}

.result {
    ul {
        padding: 0.5em 0.5em;
        li {
            margin: 0.5em;
            img {
                padding: 0.5em;
            }
        }
    }
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.footer {
    text-align: center;
    margin-top: 6em;
    margin-bottom: 3em;
    ul {
        li {
            display: inline-block;
            padding: 0.5em;
            margin: 2%;
            font-size: 3em;
            transition: 0.7s;
            animation-name: scaleIn;
            animation-duration: 0.6s;
        }
        li:hover {
            transform: rotate(360deg) scale(1.5);
        }
    }
    &:before {
        display: block;
        content: "";
        background-color: white;
        width: 100%;
        height: .1em;
        margin: 0 auto 2em auto;
    }
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: $link-color;
    }
    .text {
        padding-top: 3em;
        font-size: 1.5em;
        a {
            color: $link-color;
        }
    }
    .back {
        position: absolute;
        z-index: 1;
        margin: -1.5em 0 0 5%;
        font-size: 1.5em;
        a {
            color: $link-color;
        }
    }
}

@keyframes slideIn {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes scaleIn {
    from {font-size: 0}
    to {font-size: 100%}
}

@keyframes rightSlideIn {
    from {transform: translateX(10em);}
    to {transform: translateX(0);}
}
