@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "icomoon";
$bg-color: #F5F4F2;
$mask-color: #333333;
$link-color: gray;
body {
    font-size: 62.5%;
    background-color: $bg-color;
}

.hero {
    text-align: center;
    color: white;
    letter-spacing: .1em;
    width: 100%;
    min-height: 36em;
    position: relative;
    background-color: $mask-color;
    z-index: 1;
    &:after {
        background: url('/assets/img/hero.jpeg');
        background-size: cover;
        background-position: left 25%;
        position: absolute;
        content: "";
        z-index: -1;
        opacity: .2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    header {
        padding-top: 1em;
        padding-left: 5%;
        padding-right: 5%;
        .left {
            float: left;
            margin: 0.5em;
            padding: 0.2em;
            font-size: 2em;
        }
        ul {
            float: right;
            padding: 1em;
            font-size: 1.5em;
            li {
                float: left;
                margin: 0.5em;
            }
        }
        a {
            text-decoration: none;
            color: white;
            display: block;
            padding: 1.5em;
            margin: -1em;
        }
        a:hover {
            color: gray;
        }
        @include clearfix;
    }
    h1 {
        padding: 1.5em 0 1.5em 0;
        font-size: 500%;
        &:after {
            display: block;
            content: "";
            background-color: white;
            width: 30%;
            height: .1em;
            margin: .4em auto 0 auto;
        }
    }
    h2 {
        padding-bottom: 2em;
        font-size: 300%;
    }
}

.home {
    margin-top: 2em;
    padding: 0 15% 0 15%;
    p {
        padding-top: 2em;
        font-size: 200%;
        line-height: 150%;
    }
    a {
        text-decoration: none;
        color: $link-color;
    }
}

.contact {
    margin-top: 2em;
    padding: 0 15% 0 15%;
    font-size: 200%;
    a {
            text-decoration: none;
            color: $link-color;
        }
    p {
        padding-top: 2em;
    }
    ul {
        list-style-type: disc;
        padding: 1em 1em;
        li {
            margin: 0.5em;
            padding: 0.5em;
        }

    }
}

.pro {
    margin-top: 2em;
    padding: 0 15% 0 15%;
    font-size: 200%;
    h3 {
        padding-top: 2em;
    }
    h4 {
        margin-top: 1em;
    }
    ul {
        padding: 0.5em;
        li {
            margin: 0.5em;
            padding: 0.5em;
        }
        a {
            text-decoration: none;
            color: $link-color;
        }
    }
    a.back {
        text-decoration: none;
        color: $link-color;
        font-size: 80%;
    }
}

.proj {
    margin-top: 2em;
    padding: 0 15% 0 15%;
    font-size: 200%;
    h3 {
        font-size: 150%;
    }
    h4 {
        font-size: 120%;
    }
    p {
        padding-top: 1em;
    }
    .date {
        font-size: 80%;
    }
    a {
        text-decoration: none;
        color: $link-color;
        font-size: 80%;
    }
    .brief {
        margin-bottom: 2em;
    }
}

.tech {
    &:before {
        display: block;
        content: "";
        background-color: white;
        width: 100%;
        height: .1em;
        margin: 0 auto 2em auto;
    }
    ul {
        list-style-type: disc;
        padding: 0.5em 0.5em;
        li {
            margin: 0.3em;
            padding: 0.3em;
        }
        a {
            text-decoration: none;
            color: $link-color;
        }
    }
}

.result {
    ul {
        padding: 0.5em 0.5em;
        li {
            margin: 0.5em;
            img {
                padding: 0.5em;
            }
        }
    }
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.footer {
    text-align: center;
    margin-top: 6em;
    margin-bottom: 3em;
    ul {
        li {
            display: inline;
            padding: 0.5em;
            margin: 2%;
            font-size: 3em;
        }
    }
    &:before {
        display: block;
        content: "";
        background-color: white;
        width: 100%;
        height: .1em;
        margin: 0 auto 2em auto;
    }
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: $link-color;
    }
    .text {
        padding-top: 3em;
        font-size: 1.5em;
        a {
            color: $link-color;
        }
    }
    .back {
        position: absolute;
        z-index: 1;
        margin: -1.5em 0 0 5%;
        font-size: 1.5em;
        a {
            color: $link-color;
        }
    }
}